
// -------------------------Odd Floor-------------------------------
.first-left {
   background-image: url(../img/skidive3.jpg);
}
.first-right {
   .first-right-inside1 {
      grid-column-start: 1;
      grid-column-end: 3;
   }
   .first-right-inside2 {
      border-top: 1px solid #fff;
   }
}
